@{
    ViewData["Title"] = "Dashboard";
}
<div class="col-lg-12">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Satistação do Cliente
        </div>
        <div class="card-body">
            <canvas id="indicador1Chart" width="100%" height="30"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Indicador 2
        </div>
        <div class="card-body">
            <canvas id="indicador2Chart" width="100%" height="30"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Indicador 3
        </div>
        <div class="card-body">
            <canvas id="indicador3Chart" width="100%" height="30"></canvas>
        </div>
    </div>
</div>


@section Scripts{ 
    <script src="~/js/sb-admin-charts.js"></script>
}  
