@{
    ViewData["Title"] = "Incluir Indicador";
}
<div class="col-lg-12">
    <form role="form">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-header">Dados do Indicador</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Nome</label>
                                <input class="form-control" placeholder="informe nome">
                                <p class="help-block">Máximo 30 caracteres</p>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Descrição</label>
                                <textarea class="form-control" placeholder="Informe Descrição" rows="3"></textarea>
                                <p class="help-block">Máximo 250 caracteres</p>
                            </div>

                            <div class="form-group col-lg-12">
                                <label>Métrica</label>
                                <select class="form-control" data-placeholder="Selecione Métrica">
                                    <option>Selecione Métrica</option>
                                    <option value="1">Métrica 01</option>
                                    <option value="2">Métrica 02</option>
                                    <option value="3">Métrica 03</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-header">Metas</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label>Condição</label>
                                <select class="form-control" data-placeholder="Selecione a Medida">
                                    <option>Selecione Condição</option>
                                    <option value="1">Maior que</option>
                                    <option value="2">Maior ou Igual a</option>
                                    <option value="1">Igual a</option>
                                    <option value="2">Diferente de</option>
                                    <option value="1">Menor que</option>
                                    <option value="2">Maior ou Igual a</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Valor</label>
                                <input class="form-control" placeholder="informe Valor">
                            </div>
                            <div class="form-group col-lg-2 mt-4">
                                <button class="btn btn-lg btn-success" type="button"><i class="fa fa-plus-circle"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-responsive-lg table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Condição</th>
                                            <th>Valor</th>
                                            <th>Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Maior que</td>
                                            <td>3,5</td>
                                            <td><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td>Diferente de</td>
                                            <td>5</td>
                                            <td><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 mt-3">
                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i><span> Salvar</span></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i><span> Cancelar</span></button>
            </div>
        </div>

    </form>
</div>
