@model Sgiq.Web.Models.ParteInteressadaView;

@{
    ViewData["Title"] = "Incluir Parte Interessada";
}



<div class="col-lg-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            ParteInteressada
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Create" role="form">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label asp-for="Nome">Nome</label>
                                <input asp-for="Nome" class="form-control" placeholder="informe nome">
                                <p class="help-block">Máximo 30 caracteres</p>
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="Telefone">Telefone</label>
                                <input asp-for="Telefone" class="form-control" placeholder="informe telefone">
                                <p class="help-block">Somente números inteiros</p>
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>E-mail</label>
                                <input asp-for="Email" class="form-control" type="email" placeholder="informe e-mail">
                                <p class="help-block">Máximo 30 caracteres</p>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i><span> Salvar</span></button>
                        <button type="button" class="btn btn-danger"><i class="fa fa-ban"></i><span> Cancelar</span></button>
                    </form>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
    </div>
</div>