@model Sgiq.Dados.Models.Projeto

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtInicioPrevista" class="control-label"></label>
                <input asp-for="DtInicioPrevista" class="form-control" />
                <span asp-validation-for="DtInicioPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtTerminoPrevista" class="control-label"></label>
                <input asp-for="DtTerminoPrevista" class="form-control" />
                <span asp-validation-for="DtTerminoPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustoEstimado" class="control-label"></label>
                <input asp-for="CustoEstimado" class="form-control" />
                <span asp-validation-for="CustoEstimado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacaoProjetoId" class="control-label"></label>
                <select asp-for="SituacaoProjetoId" class ="form-control" asp-items="ViewBag.SituacaoProjetoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

